{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oruma | {% block title %}Trust{% endblock %}</title>
    <!---<link rel="stylesheet" href="{% static 'oruma/css/bootstrap.css' %}"> --->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'oruma/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block headcss %} {% endblock headcss %}

    {% block headjs %} {% endblock headjs%}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      {% block content %}
      {% endblock %}
      {% block forms %}
      {% endblock forms %}
    </div>
<!---
<script src="{% static 'oruma/js/jquery.js' %}" charset="utf-8"></script>
<script src="{% static 'oruma/js/boostrap.js' %}" charset="utf-8"></script>
!--->

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
{% block extrajs %}
{% endblock extrajs %}
  </body>
</html>
