/*presets for container body footer etc */


/*for review notes section*/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


/*border box shadows*/

.border {
  border: 1px solid #dddddd;

}

.border-shadow {
   box-shadow: 1px 1px 1px #888888;
}



/*Common to user for alignment*/
.align-to-right {
    text-align: right;

}




/*mid window. for login and ther activities.*/
.mid-window {
  width: 600px;
  max-height: 600px;
  margin: 30px auto 30px auto;
  padding: 30px 10px;
}

.submission-window {
  padding: 20px 10px;
}


/*footer style*/
.bg-lightgray
{
    background-color:LightGray;
}
