{% extends 'base_plane.html' %}
{% block headimport %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#user_applications').DataTable();
    } );
  </script>
{% endblock headimport %}
{% block content %}
<div class="row">
  <div class="col-md-12">
      <table id="user_applications" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <th width="5%">No:</th>
            <th>Application No:</th>
            <th>Estimated Amount</th>
            <th>Expected Amount </th>
            <th>Status</th>
          </thead>
          <tbody>
            {% for application  in applications %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'application_step_5' application.id %}">{{ application.application_number }}</a></td>
                  <td>{{ application.estimated_amount }}</td>
                  <td>{{ application.ouruma_expected }}</td>
                  <td>{{ application.get_status_display }}</td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
</div>
{% endblock %}
