{% extends 'base.html' %}
{% load static %}
{% block headcss %}
  <link rel="stylesheet" href="{% static 'oruma/css/style.css' %}">
{% endblock headcss %}


{% block content %}
  <div class="row">
    <div class="col-md-3 border border-shadow">
      <h5><b>{{ application.application_number }}</b><span class="label label-sm label-default pull-right">{{ application.status }}<span></h5>
      <div>
        <table class="table table-bordered">
          <tr>
            <td>Aid Requested</td>
            <td>{{ application.estimated_amount }}</td>
          </tr>

          <tr>
            <td>Aid Approved</td>
            <td>{{ application.ouruma_expected }}</td>
          </tr>
          <tr>
            <td>Payment Mode</td>
            <td>{{ application.payment_mode }}</td>
          </tr>
          <tr>
            <td>Payment Frequency</td>
            <td>{{ application.payment_frequency }}</td>
          </tr>
        </table>

    <div class="row" style="text-align: center; padding: 15px;">
      {% if application.status == 'New' %}
        <a href="{% url 'submittion_review' application.id %}" class="btn btn-sm btn-primary">Submit</a>


      {% elif application.status == 'Review' %}
              {% if user.is_staff %}
                <div class="btn-group">
                  <a href="{% url 'app_approve' application.id %}" class="btn btn-sm btn-success">Approve</a>
                  <a href="{% url 'app_reject' application.id %}" class="btn btn-sm btn-danger">Reject</a>
                </div>
          {% endif %}
      {% endif %}
    </div>

  </div>
</div>
    <div class="col-md-9 border border-shadow">
      <form class="" method="post">

          {% csrf_token %}
          {{ form.as_p }}
        <div style="text-align: right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

      {% for note in notes%}

        <div class="bs-callout bs-callout-default">
          <h4>{{ note.created_by }} <span class="label label-default pull-right" style="font-size: 10px;">{{ note.created_date |date }} </span></h4>
            {{ note.note }}
        </div>

      {% endfor %}
    </div>

  </div>




{% endblock content %}
