{% extends 'base.html' %}


{% block content %}
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:45%">
    45%
  </div>
</div>

  <h4>Please fill out the dependends details..</h4>
{% endblock %}

{% block forms %}
<form class="" method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="table">
    <tr>
      <thead>
        <th width="5%">S No:</th>
        <th>Name</th>
        <th>Relation</th>
        <th width="15%">Age</th>
        <th>Occupation</th>
      </thead>

  {% for form in formset %}



        {{ form.id }}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ form.full_name }}</td>
          <td>{{ form.relation }}</td>
          <td>{{ form.age }}</td>
          <td>{{ form.occupation }}</td>

        </tr>


  {% endfor %}
</table>
<hr>
  <button class="btn btn-primary pull-right"type="submit" name="button">Submit</button>
</form>

{% endblock forms %}
