{% extends 'base.html' %}




{% block headcss %}

<style>
/*
 .form-area {
   padding: 10px;
   padding-bottom: 80px;
   border: lightgrey 1px solid;
 }
 table {
   width: 100%;


 }
  td {
    padding: 5px;


  }

  th {
    padding: 5px;
  }

  select {
    width: 100%;
    padding: 3px;
  }
  input {
    width: 100%;

  }

/*
  textarea {
     width: 100%;
     height: 50px;
  }

  */

.btn-area {
  padding: 30px;
}

*/
</style>
{% endblock headcss %}



{% block forms %}


<h3>Aid Details</h3>
<hr>

<form class="" method="post">

  <input type="hidden" name="application_number" value="{{ application_number }}">

{% csrf_token %}
<table class="table table-hover">
          <thead>
            <th width="5%">S No:</th>
            <th width=30%"">Aid Type</th>
            <th>Details</th>

          </thead>
          <tr>
            <td>1</td>
            <td><select class="form-control" name="aid_1">
                  <option selected disabled hidden style='display: none' value=''>Select Type of Aid needed</option>
                  <option value="Houserepair">House Repair</option>
                  <option value="MedicalTreatment">Medical Treatment</option>
                  <option value="JobAid">Job Aid</option>
                  <option value="LoanRepayment">Loan Repayment</option>
                  <option value="Eduction">Educationt</option>
                  <option value="LoanRepayment">Other</option>
                </select>
            </td>
            <td><textarea  class="form-control" id="id_applicant_address" maxlength="300" name="aid_1_details" rows="3"></textarea></td>

          </tr>
          <tr>
            <td>2</td>
            <td><select class="form-control" name="aid_2">
                  <option selected disabled hidden style='display: none' value=''>Select Type of Aid needed</option>
                  <option value="Houserepair">House Repair</option>
                  <option value="MedicalTreatment">Medical Treatment</option>
                  <option value="JobAid">Job Aid</option>
                  <option value="LoanRepayment">Loan Repayment</option>
                  <option value="Eduction">Educationt</option>
                  <option value="LoanRepayment">Other</option>
                </select>
            </td>
            <td><textarea class="form-control" id="id_applicant_address" maxlength="300" name="aid_2_details" rows="3"></textarea></td>

          </tr>
          <tr>
            <td>3</td>
            <td><select class="form-control" name="aid_3">
                  <option selected disabled hidden style='display: none' value=''>Select Type of Aid needed</option>
                  <option value="Houserepair">House Repair</option>
                  <option value="MedicalTreatment">Medical Treatment</option>
                  <option value="JobAid">Job Aid</option>
                  <option value="LoanRepayment">Loan Repayment</option>
                  <option value="Eduction">Educationt</option>
                  <option value="LoanRepayment">Other</option>
                </select>
            </td>
            <td><textarea class="form-control" id="id_applicant_address" maxlength="300" name="aid_3_details" rows="3"></textarea></td>

          </tr>
          <tr>
            <td>4</td>
            <td><select class="form-control" name="aid_4">
                  <option selected disabled hidden style='display: none' value=''>Select Type of Aid needed</option>
                  <option value="Houserepair">House Repair</option>
                  <option value="MedicalTreatment">Medical Treatment</option>
                  <option value="JobAid">Job Aid</option>
                  <option value="LoanRepayment">Loan Repayment</option>
                  <option value="Eduction">Educationt</option>
                  <option value="LoanRepayment">Other</option>
                </select>
            </td>
            <td><textarea class="form-control"  id="id_applicant_address" maxlength="300" name="aid_4_details" rows="3" ></textarea></td>

          </tr>
          <tr>
            <td>5</td>
            <td><select class="form-control" name="aid_5">
                  <option selected disabled hidden style='display: none' value=''>Select Type of Aid needed</option>
                  <option value="Houserepair">House Repair</option>
                  <option value="MedicalTreatment">Medical Treatment</option>
                  <option value="JobAid">Job Aid</option>
                  <option value="LoanRepayment">Loan Repayment</option>
                  <option value="Eduction">Educationt</option>
                  <option value="LoanRepayment">Other</option>
                </select>
            </td>
            <td><textarea class="form-control" id="id_applicant_address" maxlength="300" name="aid_5_details" rows="3"></textarea></td>

          </tr>
          <tr>
            <td>6</td>
            <td><select class="form-control" name="aid_6">
                  <option selected disabled hidden style='display: none' value=''>Select Type of Aid needed</option>
                  <option value="Houserepair">House Repair</option>
                  <option value="MedicalTreatment">Medical Treatment</option>
                  <option value="JobAid">Job Aid</option>
                  <option value="LoanRepayment">Loan Repayment</option>
                  <option value="Eduction">Educationt</option>
                  <option value="LoanRepayment">Other</option>
                </select>
            </td>
            <td><textarea class="form-control" id="id_applicant_address" maxlength="300" name="aid_6_details" rows="3"></textarea></td>

          </tr>





</table>


  <hr>
  <h4>Help Sumamry</h4>
  <hr>


    <div class="row">
      <div class="col-md-3">
        <input class="form-control" id="id_dependend_name" maxlength="100" name="estimated_amount" type="text" placeholder="Estimated Amount" required/>
      </div>
      <div class="col-md-3">
        <input class="form-control" id="id_dependend_name" maxlength="100" name="self_amount" type="text" placeholder="Self Contribution" required />
      </div>
      <div class="col-md-3">
        <input class="form-control" id="id_dependend_name" maxlength="100" name="ouruma_expected" type="text" placeholder="Expected from Oruma" required />
      </div>
      <div class="col-md-3">
         <button  type="submit" class="btn btn-primary btn-block">Save and Proceed</button>
      </div>


    </div>

    <hr>
</form>
{% endblock forms %}
