{% extends 'base.html' %}
{% load static %}

{% block headcss %}
<link rel="stylesheet" href="{% static 'oruma/css/tablestdyle.css' %}">
{% endblock headcss %}

{% block forms %}
<div class="form-area">


<form class="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <h4>Applicant Details</h4>
      <table class="table table-hover table-bordered">
        {{ applicantForm.as_table }}

      </table>

    </div>
    <div class="col-md-6">
      <h4>Recommender Details</h4>

      <table class="table table-hover table-bordered">
        {{ recommender.as_table }}



      </table>
      <div class="row">

            <input type="submit" class="btn btn-primary pull-right" name="" value="Save and Proceed">

      </div>

    </div>
  </div>

  <input type="hidden" name="application_number" value="1002">
  <input type="hidden" name="application_stage" value="2">




</form>
</div>
{% endblock forms %}
