{% extends 'base.html' %}


{% block content %}

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div>

{% endblock content %}

{% block forms %}
<form  method="post">
  {% csrf_token %}
  {{ formset.management_form }}

  <h3>Aid Details</h3>
  <hr>
  <form class="" method="post">

  {% csrf_token %}
    <table class="table table-hover">
            <thead>
              <th width="5%">S No:</th>
              <th width=30%"">Aid Type</th>
              <th>Details</th>

            </thead>


  {% for form in formset %}
      {{ form.id }}
    <tr>
      <td>{{ forloop.counter }}</td>

        {% if form.initial.aid_type %}

        <div style="display: none">
          <select class="form-control" id="{{ form.aid_type.auto_id }}" maxlength="200" name="{{ form.aid_type.html_name }}">
            <option value="{{ form.initial.aid_type }}" selected="selected">{{ form.initial.aid_type }}</option>
          </select>
        </div>
        <td>{{ form.initial.aid_type }}</td>

      {% else %}
        <td>{{ form.aid_type }} </td>
      {% endif %}

      <td>{{ form.add_information }}</td>
    </tr>

  {% endfor %}
</table>
    <hr>
    <h4>Help Summary</h4>
    <hr>


  <div class="" style="display:none;">

    {{ appform.application_number }}
    {{ appform.Applicant }}
    {{ appform.Recommender }}
    {{ appform.status }}
    {{ appform.app_stage }}

    {{ appform.payment_mode }}
    {{ appform.enquiry_team }}
    {{ appform.enquiry_notes }}
    {{ appform.payment_frequency }}
    <!---
-->
  </div>
<div class="row">
  <div class="col-md-4">
    <h5>Estimated Amount</h5>
    {{ appform.estimated_amount }}
  </div>
  <div class="col-md-4">
    <h5>Self Contribution</h5>
    {{ appform.self_amount }}
  </div>
  <div class="col-md-4">
    <h5>Expected from Oruma</h5>
    {{ appform.ouruma_expected }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5>Payment Mode:</h5>
    {{ appform.payment_mode }}

  </div>


  <div class="col-md-6">
    <h5>Payment details:</h5>
    {{ appform.payment_details }}
  </div>


</div>

<div class="row">
  <div class="col-md-6">
    <h5>Payment Frequency:</h5>
    {{ appform.payment_frequency }}
  </div>
  <div class="col-md-6">
    <h5>Other details:</h5>
    {{ appform.extra_notes }}

  </div>


</div>



<hr>
  <button type="submit" class="btn btn-block btn-primary" name="button">Submit</button>
</form>

{% endblock forms %}
