{% extends 'base.html' %}


{% block content %}
<section>
  <div class="" style="text-align: center; margin: 20px auto;">
    <h3>Application For Financial Aid</h3>
    <h4>Run by Oruma Charitable Trust</h4>
    <h5><b>(Reg No: 794/2009)</b></h5>
    <h5>Oruma House, No: 18/31, Palliyarasan Street, Opp Kilpauk Water Tank, Anna Nagar East, Chennai - 600102</h5>
    <h5>Ph: 044-26444015,  9884 944 015</h5>
  </div>
</section>
<section class="summary_title">


{% if application.status == 'New' %}

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
      90%
    </div>
  </div>
{% endif %}

  <div class="row" style="text-align: right; margin-bottom: 10px;">
    <div class="col-md-6 col-md-offset-6">
        {% if application.status == 'New' %}
          <a href="{% url 'submittion_review' application.id %}" class="btn btn-sm btn-primary">Submit</a>
        {% else %}
            {% if application.status == 'Review' %}
              <a href="{% url 'review_view' application.id %}">View Review Comments</a>
            {% elif application.status == 'Submitted' %}
                {% if user.is_staff %}
                  <div class="btn-group">
                    <a href="{% url 'app_approve' application.id %}" class="btn btn-sm btn-success">Approve</a>
                    <a href="{% url 'app_review' application.id %}" class="btn btn-sm btn-warning">Send for Review</a>
                    <a href="{% url 'app_reject' application.id %}" class="btn btn-sm btn-danger">Reject</a>
                  </div>
                {% endif %}
            {% else %}
                {% if user.is_staff %}
                <a href="{% url 'review_view' application.id %}">View User comments</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
<hr>
  <div class="row">
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Application No: </b>{{ application.application_number }}
    </div>
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Application Status: </b>{{ application.status }}
    </div>
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Application Date: </b>{{ application.created |date }}
    </div>
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Oruma approved aid: </b>{{ application.ouruma_expected }} &#8377
    </div>
</div>
<div class="row">
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Payment Mode: </b>{{ application.payment_mode }}
    </div>
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Payment Details:  </b>{{ application.payment_details }}
    </div>
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Payment Frquency: </b>{{ application.payment_frequency  }}
    </div>
    <div class="col-md-3 border" style="padding: 5px;">
      <b>Other Details: </b>{{ application.extra_notes }}
    </div>


  </div>

<hr>

</section>

<section class="userdetails">
  <div class="row">
    <div class="col-md-6">
      <h4>Applicant Details

        {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
        <a href="{% url 'applicant_update_view' applicant.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Edit</a>
        {% endif %}
      </h4>
      <hr>
        <table class="table table-bordered" >
          <tr>
            <th>Name</th>
            <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{ applicant.sex }}</td>
          </tr>
          <tr>
            <th>Phone No</th>
            <td>{{ applicant.phone_number }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ applicant.address }}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ applicant.date_of_birth | date }}</td>
          </tr>
          <tr>
            <th>Occupaton</th>
            <td>{{ applicant.occupation }}</td>
          </tr>
          <tr>
            <th>Number of Earners</th>
            <td>{{ applicant.no_earners }}</td>
          </tr>
          <tr>
            <th>Monthly Family Income</th>
            <td>{{ applicant.monthly_family_income}}</td>
          </tr>
      </table>
    </div>
    <div class="col-md-6">
        <h4>Recommender Details
          {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
          <a href="{% url 'recommender_update_view' recommender.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Edit</a>
          {% endif %}

        </h4>

        <hr>
        <table class="table table-bordered">

            <tr>
              <th>Name </th>
              <td>{{ recommender.first_name }} {{ recommender.last_name }}</td>
            </tr>

            <tr>
              <th>Phone No</th>
              <td>{{ recommender.phone_number }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ recommender.email }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ recommender.address }}</td>
            </tr>
          </table>
      </div>
    </div>
  </section>

<section class="dependent">
  <hr>
  {% if dependends %}
  <h4>Dependents
    {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
    <a href="{% url 'application_step_2' application.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Edit</a>
      {% endif %}
  </h4>

  <hr>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <thead>
              <th width="5%">#</th>
              <th>Name</th>
              <th>Relation</th>
              <th width="10%">Age</th>
              <th>Occupation</th>
            </thead>

            {% for depended in dependends %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ depended.full_name }}</td>
              <td>{{ depended.relation }}</td>
              <td>{{ depended.age }}</td>
              <td>{{ depended.occupation }}</td>

            </tr>
              {% endfor %}
        </table>
      </div>
  </div>
  {% else %}
    <h4>Dependents</h4>
    <h4 class="label label-danger">No Dependes details added
      {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
      <a href="{% url 'application_step_2' application.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Add Dependends</a>

    {% endif %}
    </h4>
    <hr>
  {% endif %}

</section>
<section class="aids">
  {% if details %}
  <h4>Financial Aid Details
    {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
    <a href="{% url 'application_step_3' application.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Add or Edit</a>
      {% endif %}

  </h4>
  <hr>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <thead>
              <th>Aid Needed</th>
              <th width="70%">Details</th>
            </thead>

            {% for detail in details %}
            <tr>
              <td>{{ detail.aid_type }}</td>
              <td>{{ detail.add_information }}</td>
            </tr>
              {% endfor %}
        </table>
      </div>
  </div>

  {% else %}
    <h4>Finalcial Aid Details</h4>
    <h4 class="label label-danger">No Aid Details added
    {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}

      <a href="{% url 'application_step_2' application.id %}" class="btn btn-success pull-right">Add Details</a>
    {% endif %}

    </h4>
    <hr>
  {% endif %}

</section>

<section>
  <div class="row">
    <div class="col-md-12">
    {% if docs %}
        <h4>Attached Documents
            {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
            <a href="{% url 'application_step_4' application.id %}" class="btn btn-success pull-right">Manage Docs</a>
            {% endif %}
        </h4>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <th width="10%">#</th>
                <th>Document</th>
              </thead>
            {% for doc in docs %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ doc.description }} <a href="{{doc.document.url}}" download><i class="fa fa-download" aria-hidden="true"></i> </a></td>
              </tr>

            {% endfor %}
            </table>
          </div>
        </div>
    {% else %}
      <h4>Attached Documents</h4><h4 class="label label-danger">No Documents attached
          {% if request.user.is_staff or application.status == 'New' or application.status == 'Review' %}
            <a href="{% url 'application_step_4' application.id %}" class="btn btn-success pull-right">Add Docs</a>
          {% endif %}
      </h4>

    {% endif %}
    <hr>

      </div>
  </div>
</section>

<section style="margin-bottom:50px">
  <h4>Enquiry Details</h4>
  <hr>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-6 border">
        <h5><b>Enquiry Team</b></h5>
        {{ application.enquiry_team }}
      </div>
      <div class="col-md-6 border">
        <h5><b>Enquiry Notes</b></h5>
        {{ application.enquiry_notes}}
      </div>

    </div>


  </div>
</section>
{% endblock content %}
