{% extends 'base.html' %}


{% block content %}
<section class="summary_title">
  <div class="row">

<span class="label label-sm label-default">{{ application.status }}</span>

      <h2>Application No: <b>{{ application.application_number }}</b>

        <div style="float:right" >
          {% if application.status == 'New' %}

            <a href="{% url 'app_submit' application.id %}" class="btn btn-sm btn-primary">Submit</a>
          {% else %}
              {% if application.status == 'Review' %}
                <a href="{% url 'submittion_review' application.id %}">View Review Comments</a>
              {% elif application.status == 'Submitted' %}
                  {% if user.is_staff %}
                    <div class="btn-group">

                      <a href="{% url 'app_approve' application.id %}" class="btn btn-sm btn-success">Approve</a>

                      <a href="{% url 'app_review' application.id %}" class="btn btn-sm btn-warning">Send for Review</a>

                      <a href="{% url 'app_reject' application.id %}" class="btn btn-sm btn-danger">Reject</a>
                    </div>
                  {% endif %}
              {% endif %}
          {% endif %}
        </div>












        </h2>


  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}
  <div class="row">
          <table class="table table-bordered">
              <tr>
                <td><b>Estimated Amount: </b>{{ application.estimated_amount }}</td>
                <td><b>Self Contribution: </b>{{ application.self_amount }}</td>
                <td><b>Amount requested from Oruma: </b>{{ application.ouruma_expected }}</td>
                <td><b>Application Date: </b>{{ application.created |date }}</td>
              </tr>
          </table>
  </div>
</section>

<section class="userdetails">
  <div class="row">
    <div class="col-md-6">
      <h4>Applicant Details <a href="{% url 'applicant_update_view' applicant.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Edit</a></h4>
      <hr>
        <table class="table table-bordered" >
          <tr>
            <th>Name</th>
            <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{ applicant.sex }}</td>
          </tr>
          <tr>
            <th>Phone No</th>
            <td>{{ applicant.phone_number }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ applicant.address }}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ applicant.date_of_birth | date }}</td>
          </tr>
          <tr>
            <th>Occupaton</th>
            <td>{{ applicant.occupation }}</td>
          </tr>
          <tr>
            <th>Number of Earners</th>
            <td>{{ applicant.no_earners }}</td>
          </tr>
          <tr>
            <th>Monthly Family Income</th>
            <td>{{ applicant.monthly_family_income}}</td>
          </tr>
      </table>
    </div>
    <div class="col-md-6">
        <h4>Recommender Details<a href="{% url 'recommender_update_view' recommender.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Edit</a></h4>

        <hr>
        <table class="table table-bordered">

            <tr>
              <th>Name </th>
              <td>{{ recommender.first_name }} {{ recommender.last_name }}</td>
            </tr>

            <tr>
              <th>Phone No</th>
              <td>{{ recommender.phone_number }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ recommender.email }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ recommender.address }}</td>
            </tr>
          </table>
      </div>
    </div>
  </section>

<section class="dependent">
  <hr>
  {% if dependends %}
  <h4>Dependents<a href="{% url 'application_step_2' application.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Edit</a></h4>

  <hr>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <thead>
              <th width="5%">#</th>
              <th>Name</th>
              <th>Relation</th>
              <th width="10%">Age</th>
              <th>Occupation</th>
            </thead>

            {% for depended in dependends %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ depended.full_name }}</td>
              <td>{{ depended.relation }}</td>
              <td>{{ depended.age }}</td>
              <td>{{ depended.occupation }}</td>

            </tr>
              {% endfor %}
        </table>
      </div>
  </div>
  {% else %}
    <h4>Dependents</h4>
    <h4 class="label label-danger">No Dependes details added<a href="{% url 'application_step_2' application.id %}?next={% url 'application_step_5' application.id %}" class="btn btn-success pull-right">Add Dependends</a></h4>
    <hr>
  {% endif %}

</section>
<section class="aids">
  {% if details %}
  <h4>Financial Aid Details<a href="{% url 'application_step_3' application.id %}" class="btn btn-success pull-right">Add or Edit</a></h4>
  <hr>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <thead>
              <th>Aid Needed</th>
              <th width="70%">Details</th>
            </thead>

            {% for detail in details %}
            <tr>
              <td>{{ detail.aid_type }}</td>
              <td>{{ detail.add_information }}</td>
            </tr>
              {% endfor %}
        </table>
      </div>
  </div>

  {% else %}
    <h4>Finalcial Aid Details</h4>
    <h4 class="label label-danger">No Aid Details added<a href="{% url 'application_step_2' application.id %}" class="btn btn-success pull-right">Add Details</a></h4>
    <hr>
  {% endif %}

</section>

<section class="docs">
{% if docs %}
    <h4>Attached Documents<a href="{% url 'application_step_4' application.id %}" class="btn btn-success pull-right">Manage Docs</a></h4>
    <hr>



    <div class="row">
      <div class="col-md-12">
          <table class="table table-bordered">

              <thead>
                <th width="10%">#</th>
                <th>Document</th>
              </thead>
              {% for doc in docs %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ doc.description }}</td>
              </tr>

              {% endfor %}
{% else %}
  <h4>Attached Documents</h4><h4 class="label label-danger">No Documents attached<a href="{% url 'application_step_4' application.id %}" class="btn btn-success pull-right">Add Docs</a></h4>
  <hr>
{% endif %}

</section>


{% endblock %}
{% block forms %}




{% endblock forms %}
