{% extends 'base.html' %}




{% block headcss %}
<style>
 .form-area {
   padding: 10px;
   padding-bottom: 80px;
   border: lightgrey 1px solid;
 }
 table {
   width: 100%;


 }
  td {
    padding: 5px;
    width : auto;


  }

  th {
    padding: 5px;
  }

  select {
    width: 100%;
    padding: 3px;
  }
  input {
    width: 100%;

  }

  textarea {
     width: 100%;
     height: 50px;
  }

.btn-area {
  padding: 30px;
}


</style>
{% endblock headcss %}


{% block content %}
<!--recommender -->

<!--applicat detail-->
<!---dependend--->
<!--air details--->
<div class="row">

    <h2>Application No: <b>{{ application.id }}</b></h2>
  </div>
  <div class="row">

        <table>
            <tr>
              <td><b>Estimated Amount: </b>{{ application.estimated_amount }}</td>
              <td><b>Self Contribution: </b>{{ application.self_amount }}</td>
              <td><b>Amount requested from Oruma: </b>{{ application.ouruma_expected }}</td>
              <td><b>Application Date: </b>{{ application.created |date }}</td>
            </tr>

        </table>


  <hr>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Applicant Details <a href="#" class="pull-right"><button class="btn btn-secondary">Edit</button></a></h4>

    <hr>
    <table>

        <tr>
          <th>Name <span class="pull-right">:</span></th>
          <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
        </tr>
        <tr>
          <th>Gender<span class="pull-right">:</span></th>
          <td>{{ applicant.sex }}</td>
        </tr>
        <tr>
          <th>Phone No<span class="pull-right">:</span></th>
          <td>{{ applicant.phone_number }}</td>
        </tr>
        <tr>
          <th>Address<span class="pull-right">:</span></th>
          <td>{{ applicant.address }}</td>
        </tr>




        <tr>
          <th>Date of Birth<span class="pull-right">:</span></th>
          <td>{{ applicant.date_of_birth | date }}</td>
        </tr>


        <tr>
          <th>Occupaton<span class="pull-right">:</span></th>
          <td>{{ applicant.occupation }}</td>
        </tr>
        <tr>
          <th>Number of Earners<span class="pull-right">:</span></th>
          <td>{{ applicant.no_earners }}</td>
        </tr>
        <tr>
          <th>Monthly Family Income<span class="pull-right">:</span></th>
          <td>{{ applicant.monthly_family_income}}</td>
        </tr>



    </table>
  </div>

  <div class="col-md-6">
    <h4>Recommender Details<a href="#" class="pull-right"><button class="btn btn-secondary">Edit</button></a></h4>
    <hr>
    <table>

        <tr>
          <th>Name <span class="pull-right">:</span></th>
          <td>{{ recommender.first_name }} {{ recommender.last_name }}</td>
        </tr>

        <tr>
          <th>Phone No<span class="pull-right">:</span></th>
          <td>{{ recommender.phone_number }}</td>
        </tr>
        <tr>
          <th>Email<span class="pull-right">:</span></th>
          <td>{{ recommender.email }}</td>
        </tr>
        <tr>
          <th>Address<span class="pull-right">:</span></th>
          <td>{{ recommender.address }}</td>
        </tr>

      </table>

  </div>

</div>
<hr>
<h4>Dependents</h4>
<hr>
<div class="row">
  <div class="col-md-12">
      <table>
        <tr>
          <thead>
            <th width="5%">S No:</th>
            <th>Name</th>
            <th>Relation</th>
            <th width="10%">Age</th>
            <th>Occupation</th>
          </thead>

          {% for depended in dependends %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ depended.full_name }}</td>
            <td>{{ depended.relation }}</td>
            <td>{{ depended.age }}</td>
            <td>{{ depended.occupation }}</td>

          </tr>
            {% endfor %}
      </table>
    </div>
</div>


<hr>
<h4>Financial Aid Details</h4>
<hr>
<div class="row">
  <div class="col-md-12">
      <table>
        <tr>
          <thead>
            <th>Aid Needed</th>
            <th width="80%">Details</th>
          </thead>

          {% for detail in details %}
          <tr>
            <td>{{ detail.aid_type }}</td>
            <td>{{ detail.add_information }}</td>
          </tr>
            {% endfor %}
      </table>
    </div>
</div>






{% endblock %}
{% block forms %}




{% endblock forms %}
